@import "../../vendor/fonts/fonts.css";

.task {
  display: flex;
  flex-direction: column;
  border: #000000 solid 1px;
  border-radius: 10px;
  margin: 0;
  position: relative;
}

.task__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 200px;
  margin: 0;
  cursor: pointer;
  transition: opacity, 0s, ease-out, 0.3s;
}

.task__container:hover {
  opacity: 0.7;
  background-color: antiquewhite;
}

.task__title {
  margin: 14px auto 0 auto;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #848482
}

.task__un-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.task__button {
  width: 70%;
  height: 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  padding: 0;
  cursor: pointer;
  color: #000000;
  transition: opacity, 0s, ease-out, 0.3s;
  position: absolute;
  bottom: 20px;
  left: 40px;
}

.element__button:hover {
  opacity: 0.5;
}

.task__color-red {
  color: red;
}

.task__color-green {
  color: rgb(75, 196, 75);
}
